{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/rks8.css' %}">
</head>
<body>
    
    <h1>Regintation form </h1>
    <form>
    	<table>
    	<tr>
			<td><label>Firse Name:</label></td>
			<td><input type="text" ></td>
		</tr>
		<tr>
			<td><lable>Last name:</td>
			<td><input type="text"></td>
		</tr>
		<tr>
			<td><label>Mob No</label></td>
			<td><input type="Password"></td>
		</tr>
		<tr>
			<td><label>Email</label></td>
			<td><input type="text"></td>
		</tr>
		<tr>
			<td><label>Address</label></td>
			<td><input type="text"></td>
		</tr>
		<tr>
			<td><label>Password</label></td>
			<td><input type="text"></td>
		</tr>
		<tr>
			<td align="Center" colspan="2">
				<input type="Submit" name="">
				<input type="Reset" name="">
			</td>
		</tr>
		</table>
    
</body>
</html