{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/rks6.css' %}">
</head>
<body>
    
    <h1 align="center">Colorfull fastival (Holi)</h1>
    <h2>
    <p>
        Holi Fastival The festival of colours, Holi, is the most vibrant of all Hindu festivals. It marks the end of winter in India and welcomes the spring season. On this festive day, people play with colours,

    </p>
    </h2>

</body>
</html>